<% provide(:title, '問い合わせ一覧') %>

<h1>問い合わせ一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="add-notice-information-btn">
    <% if current_user.admin? %>
      <%= link_to "問い合わせ投稿", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <table class="table table-bordered table-condensed" id="table-users">
    <thead>
      <tr>
        <th colspan="1">投稿日</th>
        <th colspan="5">投稿者</th>
        <th colspan="5">タイトル</th>
        <th colspan="5">コメント</th>
        <th colspan="5">投稿削除</th>
      </tr>
    </thead>
    <thead>
      <%# @notices.each do |notice| %>
      <tr>
        <td colspan="1" class="col-md-3"><%#= l(notice.updated_at, format: :day) %></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td colspan="5">
          <%#= link_to notice.notice_title, notice %>
          <%#= link_to notice.notice_title, edit_notice_path(notice) %>
          <%# if current_user.admin? %>
          <%= link_to "削除", method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-danger btn-sm pull-right" %>
          <%# end %>
        </td>
      </tr>
      <%# end %>
    </thead>
  </table>
  </div>
</div>  