<% provide(:title, "") %>

<div class="center jumbotron">
  <% if Rails.env.development? %>
    <p>動作確認は↓からどうぞ</p>
    <%= link_to "管理者", login_path, method: :patch, class: "btn btn-lg btn-primary" %>
    <%= link_to "生徒", login_path, method: :put, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>