<% provide(:title, '個人情報保護法') %>

<h1>個人情報保護法に関して</h1>
<div class="col-md-12 col-md-offset-0">
  <table class="table-bordered table-condensed" id="users-show-info">
    <thead>
      <tr>
        <td>
          電子申請システム（以下「システム」という。）における、個人情報の収集、利用、提供
          及び管理等について、個人情報の保護に関する法律及び大阪府個人情報保護条例（以下「条例」という。）
          を尊守するとともに、個人情報が漏洩したり滅失することのないよう、次のようなセキュリティ対策を講じています。<br><br>
          1. 収集した個人情報の利用は、条例の規定に基づき、授業予約システムにおいてのみ利用し、
              目的以外の利用を禁止しています。<br><br>
          2. システムを利用するシステム管理者は、ユーザID、パスワードを発行し、システムの利用を認められた者以外は
          アクセスできないようにしています。また管理者に対し、個人情報が絶対に漏洩することのないよう厳重に
          管理するよう啓発を行っております。<br><br>
          3. システムの保守管理は、システムを操作する人員は承認された必要最小限の者とし、個人情報を取り扱う必要が
          ある場合には、事前に承認することを要件にしています。<br><br>
          4. 利用者と管理者の間のインターネットを利用して通信する部分は、SSL（Secure Socket Layer）により、
          データを暗号化しています。
        </td>
      </tr>
    </thead>
  </table>
 
