<% provide(:title, 'お知らせ情報投稿') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, 'お知らせ投稿') %>
<h1>お知らせ情報登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'notice_form' %>
  </div>
</div>