
<% if @send_user.admin==false %>
  
  <p><%= @destination_user.guardian %> 様</p>
  
  <p>いつもお世話になってありがとうございます</p>
  
  <p>平川塾平川です</p>

<% else %>
  
  <P><%= @send_user.guardian  %>様より</P>

<% end %>

<p><%= @content %></p>

<p><%= link_to "こちらのリンクを参照下さい", @link %></p>

