<% if @send_user.admin == false %>
  
  <P><%= @send_user.guardian  %>　様の情報があります</P>
　
  <p>下記リンクを確認をお願いします</p>
  
<% else  %>
  
  <p><%= @destination_user.guardian %> 様</p>
  
  <p>いつもお世話になっております。</p>
  
  <p>平川塾からのお知らせです。</p>

  <p><%= @content %></p>

<% end %>

<p><%= link_to "こちらのリンクを参照下さい。", @link %></p>

<p>こちらのメールアドレスは送信専用です。</p>




