<div class="modal fade" id=<%= @user_id %><%= modaltype %> tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" margin:auto;"=" margin:auto;""="margin:auto;""">
      <div class="modal-body">
      
      
        
      </div>
    </div>
  </div>
</div>
