<% provide(:title, 'All users') %>
<h2 style="font-size:30px;">契約一覧</h2>

<div class="wrapper_middle">
  <div style="display: inline-block;"><%= button_to "契約者", {controller: 'users', action: 'index'}, {method: :get, params: {cation:"1"}} %></div>
  <div style="display: inline-block;"><%= button_to "全表示", {controller: 'users', action: 'index'}, {method: :get, params: {cation:"2"}} %></div>
  <div style="display: inline-block;"><%= button_to "登録順", {controller: 'users', action: 'index'}, {method: :get, params: {cation:"3"}} %></div>
  <a href="" data-toggle="modal" data-target=#modal2>固定時間一覧</a>
   <%= render partial: "/students/students_time" %>
</div><br /><br />
 
 
    
  </div>


<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="info-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
 