<% provide(:title, '予約履歴') %>

<h1>予約履歴</h1>

<div class="col-md-10 col-md-offset-1">
  
  <table class="table-bordered table-condensed" id="reservations-info">
    <thead>
      <tr>
        <th colspan="1" class="col-md-3">授業日</th>
        <th colspan="1" class="col-md-3">授業時間</th>
        <th colspan="5">備考</th>
      </tr>
    </thead>
    <thead>
   
      <tr>
        <td colspan="1" class="col-md-3"><%= "#" %></td>
        <td colspan="1">
           <%= link_to "#" %>
        </td>
        <td colspan="5">
           <%= link_to "#" %>
        </td>
      </tr>
    
    </thead>
  </table>
  
</div>