
#contents {
  width: 600px;
  min-height: 300px;
  color: #000000;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%; }
  
/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 修正・中止ボタン位置調整 */

.lesson-discontinuation-fix-btn {
  margin-bottom: 15px;
}

/* 予約詳細画面レスポンシブ設定 */
.warapper_lesson_detail {
  width: 70%;
  margin: auto;
}

@media screen and (max-width:1000px){

.warapper_lesson_detail { 
  width: 100%;
  margin: auto;
  }
}
