#notices-info {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  th {
    vertical-align: middle;
    text-align: center;
  }
}

#notices-info-show {
  width: 100%;
}

.add-notice-information-btn {
  margin-bottom: 3px;
}

#notices-info-title-details {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#notices-info-content-details {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
  td {
    vertical-align: middle;
    text-align: center;
  }
}