/* 予約詳細画面レスポンシブ設定 */
#table-reservations {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  th {
    vertical-align: middle;
    text-align: center;
    font-size: 130%;
  }
  td {
    vertical-align: middle;
    text-align: center;
    font-size: 130%;
  }
}

#reservations-info {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  th {
    vertical-align: middle;
    text-align: center;
  }
}

/* zoom,リアル選択ボックス高さ調整 */

select {
  height: 1.7em;
}

/* time_fieldスマホ横幅調整 */

input[type="time"] {
  width: 100%;
}
