#table-reservations {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  th {
    vertical-align: middle;
    text-align: center;
    font-size: 130%;
  }
  td {
    font-size: 130%;
    font-size: 130%;
  }
  td {
    font-size: 130%;
  }
}

#reservations-info {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  th {
    vertical-align: middle;
    text-align: center;
  }
}

select {
  height: 1.7em;
}
