/* ユーザー情報テーブル */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

// 生徒登録
.class-choice{
  margin-top: 5px;
}

.zoom-choice{
  margin-left: 10px;
}

.real-choice{
  margin-left: 10px;
}

.userslist {
  padding: 10px;
  text-align: center;
}

// 生徒一覧
#table-users {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}