/* ユーザー情報テーブル */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

// 生徒登録
.class-choice{
  margin: 20px 0 10px 0;
  text-align: left;
}

.zoom-choice{
  margin-left: 10px;
}

.real-choice{
  margin-left: 10px;
}

.userslist {
  padding: 10px;
  text-align: center;
}

.new-form{
  margin-bottom: 10px;
}

.add-from{
  text-align: left;
}

// 生徒一覧
#table-users {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}